In [1]:
people = {
    "first": ["James", "David", "Tom"],
    "last": ["Asher","Bish", "Wood"],
    "email": ["jamesasher@email.com","davidbish@email.com", "thomaswood@email.com"]
}

In [6]:
import pandas as pd
df = pd.DataFrame(people)
df.set_index('email', inplace = True)
df.head()

                      first   last
email
jamesasher@email.com  James  Asher
davidbish@email.com   David   Bish
thomaswood@email.com    Tom   Wood

In [7]:
df['first'] == 'James'

email
jamesasher@email.com     True
davidbish@email.com     False
thomaswood@email.com    False
Name: first, dtype: bool

In [8]:
filt = (df['first'] == 'James')

In [9]:
df[filt]

                      first   last
email
jamesasher@email.com  James  Asher

In [12]:
df[df['first'] == 'James']

                      first   last
email
jamesasher@email.com  James  Asher

In [15]:
df.loc[filt, 'first']

email
jamesasher@email.com    James
Name: first, dtype: object

In [17]:
filt = (df['last'] == 'Asher')& (df['first'] == 'James')

In [18]:
df[filt]

                      first   last
email
jamesasher@email.com  James  Asher

In [19]:
df[(df['last'] == 'Asher')& (df['first'] == 'James')]

                      first   last
email
jamesasher@email.com  James  Asher

In [21]:
df.loc[filt, 'first']

email
jamesasher@email.com    James
Name: first, dtype: object

In [24]:
df[(df['last'] == 'Asher') | (df['first'] == 'David')]

                      first   last
email
jamesasher@email.com  James  Asher
davidbish@email.com   David   Bish

In [25]:
filt = (df['last'] == 'Asher') | (df['first'] == 'David')

In [26]:
df.loc[~filt, 'first'] #tilda gives opposite

email
thomaswood@email.com    Tom
Name: first, dtype: object